h1 {
  color: #7FFFD4;
}
p {color: #7dc410;
}

.popular {
  font-family: "Times New Roman";
}

.import {
  color: pink;
}

img {
    position: static ;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
