body {
    background-color: #D3D3D3;
}
h1 {
    background-color: lightblue;
  color:	#20B2AA;
  text-align: center;
}

h2 {
  color:green;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  line-height: 40 px;
}

.intro {
  font-style: italic;
}

.author {
  color: #5F9EA0
}

p.author {
  font-size: 12 px;
}

img {
    position: relative ;
    top: 0; bottom:0; left: 0; right:0;
    margin: inherit ;
